* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family:"Montserrat Alternates", sans-serif;
    color: black;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
}

.logoHeader {
    position: fixed;
    float:left;
    width: 6rem;
    height:auto;
    top: 1rem;
    left: 3rem;
    
}


.navbar{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem 6rem;
    box-sizing: border-box;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: #ba7c4a;
    z-index: 5;
    
}

nav.black{
    background: rgba(186, 125, 74, 0.9);
    height:4.5rem;
    padding: 1rem 6rem;
  }

.navbar-nav{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-link {
    list-style: none;
    margin-top: 1rem;
    line-height: none;
    font-size: 1.2em;
    color: white;
    padding: 0rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    text-shadow: 0 0 10px #000;
  }

  
nav.black .nav-link{
    color: #fff;
    line-height: 20px;
  }

nav.black .nav-link:hover{
    color:black;
    transition: 1s ease;
}

.nav-link:active,
.nav-link:hover{
  color:black;
  transition: 1s ease;
}

.sidepanel, 
.openbtn{
    display: none;
}

.parallaxBody {
    min-height: 325px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background: 
        linear-gradient(
            rgba(122, 122, 122, 0.4), 
            rgba(248, 245, 245, .4)), 
        url("../img/groupBkyd4Edit5.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -100;
}

.parallax2 {
    background-image: url("../img/group.jpg");

}
.parallax3 {
    background-image: url("../img/beauBella.jpg");
}


.parallax4{
    background-image: url("../img/groupBkyd3.jpg");
}

.parallax5 {
    background-image: url("../img/groupLR.jpg");
   
}
.parallax6 {
    background-image: url("../img/honey5-1.jpg");
   
}

.heading {
    position: relative;
    height:80vh;
    color: black;
    justify-content: center;
    align-items: center;
    margin:5%;
    padding:10% 3%;

}


.headingMain {
    position: relative;
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4em;
    font-weight: 250;
    letter-spacing: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.headingSub {
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5rem;
    font-weight: 15rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align:center;
    padding-top: 2%;
    animation-name: pauseWelcome;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes pauseWelcome{
    0% {

        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}


.section {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    background:linear-gradient(
        to right bottom,
        rgb(250, 243, 224),
    rgb(243, 237, 231));


}
 #aboutUs {
     height: 600px;
     font-size: 16px;
 }

.title {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: .5rem;
    padding-top: 3rem;
}

#aboutDoxies {
    font-size: 18px;
}

.characteristicsList ul {
    padding-left: 50px;  
    list-style-position: outside;
}

.about {
    margin: 0; 
    padding: 3% 5% 5% 5%;
    text-align:left;
    
}
#aboutUs {
    height: auto;
}
.gallery {
    margin: 0; 
    padding: 7% 1% 5% 5%;
    text-align:left;
    
}

.aboutUs {
    margin: 0; 
    padding: 10% 3% 3% 1%;
    text-align:left;
    padding-left: 1rem;
    
}
.info {
    padding-top: 0;
}

.pups {
    display: block;
    padding-top: 20px;

}
.litterParents {
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;


}
.status {
    font-style: normal;
}

.stayTunedParagraph {
    display: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 50px 10px 50px 10px;
    text-transform: capitalize;
    font-style: italic;
}
.expecting {
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    margin: 2rem 4rem;
    overflow-x: hidden;

}
.expectingContent {
    display: block;
    text-align: center;
    


}
.expectingPic1{
    width: 400px;
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}
.expectingPic2{
    width: 400px;
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
   
}

footer {
    display: block;
    padding-bottom: 5rem;
    margin: 0;
    background: #1a1713;
    height: auto;
    text-align: center;
    color: black;
    font-size: 1.5rem;

}
.footerLogo {
    padding-bottom: 0;
}
.logoFooter {
    width: 10rem;
    height: auto;
    margin: 5rem 5rem 1rem 5rem;
}
.cashMethod {
    color: white;
    font-size: 1rem;
}

.paypalLogo {
    margin: 0;
    padding: 0;
    width: 100px; 
    height: auto; 
}

.footerStuff {
    display: inline;
}
.footerLinks {
    display: inline-block;
}

.footerList {
    list-style: none;
}

.footerItem {
    display: inline-block;
}

.footerLink {
    text-decoration: none;
    text-transform: uppercase;
   
    
}

.footerLink:link,
.footerLink:visited {
    color:white;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: .8s;
    margin-right: 2rem;
}

.footerLink:hover,
.footerLink:active {
    color: #ba7c4a;
    text-shadow: 0 0 10px #000;

}

.copyright {
    color: white;
    font-size: 1rem;
}

.hrFooter {
    background: white;
    margin: 1rem 3.5rem 1rem 3.5rem;
}
.emptyCol1 {
    margin: 2rem;
}
.emptyCol2 {
    padding: 0;
    margin:0;
}
.card {
        background-color: transparent;
        position: relative;
        height: 36rem;
        margin: 2rem 1rem;
        cursor: pointer;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition:  0.4s;
        -o-transition: 0.4s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
    }

.card.flipped {
    
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        
      }

.card__side {
    background-color: rgb(255, 255, 255, 0.1);
    height: 36rem;
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    -webkit-transition: all 1s ease; 
    -moz-transition:   all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    }
 

.card__side--back {
    position: relative;
    z-index: 3;
    height:36rem;
    background-color: rgb(255, 255, 255, .1);-webkit-transform:rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    cursor: pointer;
    

    }
.card__side--back-1 {
        background-image:url(../img/donte3.jpg);
       
         
         }
.card__side--back-2 {
        background-image:url(../img/duncan5-1.jpg);
}
.card__side--back-3 {
            background-image:url(../img/beau4-1.jpg);
    }
.card__side--back-4 {
        background-image:url(../img/honey2.jpg);
    }
.card__side--back-5 {
        background-image:url(../img/bella3.jpg);
    }
.card__side--back-6 {
        background-image:url(../img/pearl2cropped.jpg);
    }
.card__side--back-7 {
        background-image:url(../img/hopeBack.jpg);

    }

.card__side--back-8 {
        background-image:url(../img/lunaBack.jpg);
}
.card__side--back-9{
        background-image:url(../img/shelbyBack.jpg);
    }

.card__picture {
        background-size: contain;
        height: 20rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; 
        background-repeat: no-repeat;
          background-size: cover;
     }

.card__picture--1 {
    background-image: url(../img/donte2.jpg);
         
        }
.card__picture--2{
    background-image: url(../img/duncan4.jpg);
           
          }
.card__picture--3{
    background-image: url(../img/beau3-1.jpg);
           
          }
.card__picture--4{
    background-image: url(../img/honey4-1.jpg);
           
          }
.card__picture--5{
    background-image: url(../img/bella4Edit-1.jpg);
           
          }     
.card__picture--6{
    background-image: url(../img/pearl5Edit-1.jpg);
           
          }
.card__picture--7{
     background-image: url(../img/hopeFront.jpg);
           
          }
.card__picture--8{
    background-image: url(../img/lunaFront.jpg);
}
.card__picture--9{
    background-image: url(../img/shelbyFront.jpg);
}


.card__picture2 {
    background-size: contain;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    background-repeat: no-repeat;
      background-size: cover;
 }
 .card__pictureHoney-1{
    background-image: url(../img/HPFF1.jpg);
    height:70%;
 }
 .card__pictureHoney-2{
    background-image: url(../img/HPFF2.jpg);
    height:70%;
 }
 .card__pictureHoney-3{
    background-image: url(../img/HPFF3.jpg);
    height:70%;
 }
 .card__pictureHoney-4{
    background-image: url(../img/HPMF1.jpg);
    height:70%;
 }
 .card__pictureHoney-5{
    background-image: url(../img/HPMF2.jpg);
    height:70%;
 }

 .card__side--backHoney-1{
    background-image:url(../img/HPFB1.jpg);
 }
 .card__side--backHoney-2{
    background-image:url(../img/HPFB2.jpg);
 }
 .card__side--backHoney-3{
    background-image:url(../img/HPFB3.jpg);
 }
 .card__side--backHoney-4{
    background-image:url(../img/HPMB1.jpg);
 }
 .card__side--backHoney-5{
    background-image:url(../img/HPMB2.jpg);
    
 }

.card__picture2--1{
    background-image: url(../img/femaile1-front.jpg);
    height:70%;
}
.card__picture2--2{
    background-image: url(../img/female2-front.jpg);
    height: 70%;
}
.card__picture2--3{
    background-image: url(../img/bellapup3-1.jpg);
    height: 70%;
}
.card__picture2--4{
    background-image: url(../img/bellapup2-1.jpg);
    height: 70%;
}

.card__side--back2-1{
    background-image:url(../img/female1-back.jpg);
}
.card__side--back2-2{
    background-image:url(../img/female2-back.jpg);
}
.card__side--back2-3{
    background-image:url(../img/bellapup3-2.jpg);
}
.card__side--back2-4{
    background-image:url(../img/bellapup2-2.jpg);
}

.card__picture2--5{
    background-image: url(../img/pearlpupf1-1.jpg);
    height: 70%;
}
.card__picture2--6{
    background-image: url(../img/pearlpupf2-1.2edit-2.jpg);
    height: 70%;
}
.card__picture2--7{
    background-image: url(../img/pearlpupm1-1.jpg);
    height: 70%;
}
.card__picture2--8{
    background-image: url(../img/male-front.jpg);
    height: 70%;
}

.card__side--back2-5{
    background-image:url(../img/pearlpupf1-2.jpg);
}
.card__side--back2-6{
    background-image:url(../img/pearlpupf2-2.jpg);
}
.card__side--back2-7{
    background-image:url(../img/pearlpupm1-2.jpg);
}
.card__side--back2-8{
    background-image:url(../img/male-back.jpg);
}
.card__heading {
        font-size: 1.3rem;
        font-weight: 400rem;
        text-transform: uppercase;
        color: black;
        text-align: center;
    }
    
.card__details {
        font-size: 14px;
        text-align:center;
        padding-right:1%;
        padding-left: 1%;
        padding-bottom: 5px;
        backface-visibility: hidden;
    }
    
.card__details.li {
    padding-bottom: 5px;
}
li:not(:last-child) {
        padding-bottom: 5px;
    }


.animation {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }


button {
    background-color:rgb(247, 237, 214);
    border:none;
    border-radius: 10rem;
    font-size: 15px;
    padding: .2rem 1rem;
    display: inline-block;
    position: relative;
    margin-bottom: .5rem;
}
button:hover,
button:active {
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition:all .6s;
    -moz-transition: all .6s;
    -ms-transition:all .6s;
    -o-transition:all .6s;
    transition: all .6s;
    position: relative;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

button:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}
.button:hover::after {
    -webkit-transform:  scaleX(1.4) scaleY(1.6);
    -moz-transform:  scaleX(1.4) scaleY(1.6);
    -o-transform:  scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
button:active, .button:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }


.hrContact1 {
    margin: 5% 3% 4% 3%;
    

}
.hrContact2 {
    margin-top: 4% 3% 5% 3%;
}

.contactInfo {
    margin-top: 5%;
    padding: 5% 10%;
    display: inline-block;
    position: relative;
    height: auto;
    text-align: left;
    
}

.contactHeading {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
}

.contactTextHeading {
    font-size: 1rem;
}

.contactForm {
    display: inline-block;
    position: relative;
    width:75%;
    height:auto;
    text-align: left;
}
::-webkit-input-placeholder {
    font-style: italic;
 }

.btn {
    position: relative;
    display: block;
    text-align: right;
}
.button {
    background-color: rgb(139, 196, 231);
    border:none;
    border-radius: .5rem;
    width: 5rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    padding: .2rem 1rem;
    display: inline-block;
    position: relative;
    margin-bottom: .5rem;
}
.button:hover,
.button:active {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all .5s;
    position: relative;
    font-size: .8rem;
    border: none;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
.button:active, .button:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.pups {
    display:block;
}

.HonB,
.HopeB {
    display:inline-block;
}
.expectingPicHopeB,
.expectingPicHonB {
    width: 350px;
    height:350px;
    object-fit: cover;
}
.reviewSection {
    display: block;

}
.reviewTitle {
    font-size: 22px;
    margin: 10px;
}
    
.reviews{
    text-align: left;
    font-size: 16px;
    padding: 1% 25%;

}
.reviewImg {
    width:125px;
    height: auto;
    float: left;
    margin: 0 15px 0 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.reviewContent {
    display: inline-block;
}
.reviewSection {
    display: block;

}
.reviewAuthor {
    float: right;
    
}



.fa-quote-right {
    text-align: right;
    float:right;
}


@media only screen and (max-width: 767px) {

body{
        width: 100%;
        overflow-x: hidden;
    }

.parallaxBody {
    background-attachment: inherit;
    width: 100%;
    height: 30vh;
    overflow-x: none;
  

}

.navbar {
    height: 6rem;
    top:0;
    left: 0;
    width: 100%;
    
}

nav.black{
    background: rgba(186, 125, 74, 0.9);
    height:5rem;
    padding-top: 1rem;
  
  }
  
.navbar #navbarSupportedContent {
    display: none;
  }
  
.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 8px;
    display: block;
    text-transform: uppercase;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    text-shadow: 0 0 10px #000;
  }


.sidepanel {
    height: auto;
    position:absolute;
    z-index: 6;
    top: 0;
    left: 0;
    background-color:rgb(186, 124, 74);
    padding-top:10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

.sidepanel a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display:block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

.sidepanel a:hover {
    color: black;
  }

.closebtn {
    position: relative;
    top: 40;
    font-size: 50px;
    font-weight: 500;
    margin-left: 250px;
  }

.openbtn {
    display: block;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(186, 124, 74, 0);
    color: white;
    top: .5rem;
    right: -30px;
    margin: 0 0 0 10px;
    padding: 0;
    border: none;
  }
  
  .openbtn:hover {
    background-color: none;
    border:none
  }

  .openbtn:active {
      color: white;
  }

.logoHeader {
    width: 4.3rem;
    height: auto;
    top: .5rem;
    left: 1rem;
    padding-top: 1rem;
}

.heading {
      position: relative;
      padding-top: 40%;
  }
  .headingMain {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 15px;
      width: 100%;
  }
  .headingSub {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 5px;
  }

.section {
    padding: 0;
    margin: 0;
    height: auto;
}
section {
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: auto;
}
#aboutUs {
    height: auto;
    font-size: 14px;
    
}

.about {
    position: relative;
    height: auto;
}

.reviewSection {
    display: block;

}
.reviewTitle {
    font-size: 18px;
    margin: 10px;
}
.reviewImg {
    width: 110px;
    height: auto;
    float: left;
    margin: 0 15px 0 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.reviewContent {
    display: inline-block;
}
.reviews{
    text-align: left;
    font-size: 12.5px;
    padding: 1% 7% 7% 7%;

}
.fa-quote-right {
    text-align: right;
    float:right;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .3rem;

}

.expectingPic1,
.expectingPic2 {
    width: 250px;
    height: auto;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.15);
}
.expectingContent{
    margin-bottom: 1.5rem;
}
.status{ 
    font-style:normal;
}

.contactInfo {
    text-align: center;
}

.card__heading {
    font-size: 20px;
}

.info {
    font-size: 14px;
}
.expecting {
    font-size: 14px;
}

.footer {
    display: block;
}
.footerStuff {
    display: inline;
}
.footerLinks {
    display: inline-block;
}

.HonB
.HopeB {
    display:inline-block;
}
.expectingPicHopeB{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.expectingPicHonB {
    width: 140px;
    height: auto;
    object-fit: cover;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

body{
     width: 100%;
    overflow-x: hidden;
    }

.parallaxBody {
    background-attachment: inherit;
    width: 100%;
    height: 50vh;
    overflow-x: none;

}

.sidepanel {
        display: none;
    }

.heading {
        position: relative;
        padding-top: 20%;
    }
    
.headingMain {
        font-size: 45px;
        font-weight: 500;
        letter-spacing: 16px;
        width: 100%;
    }
    .headingSub {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 5px;
    }
  
  .section {
      padding: 0;
      margin: 0;
      height: auto;
  }

.row {
    padding: 0;
    margin: 0;
}
 .card {
     width: 105%;
     padding: 0;
     margin-bottom: 1rem;
     margin-left: 0;
     margin-right: 0;
 }
.card__details {
    font-size: 12px;
    margin-bottom: 10px;
}

.card__heading {
    font-size: 16px;
}
.flipBtn {
    width: 80%;
    height: auto;
    font-size: 12px;
    margin-bottom: 5px;
}
 .navbar {
    overflow: hidden;
    height: 6rem;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    
}

nav.black{
    background: rgba(186, 125, 74, 0.9);
    height:5rem;
    padding-top: 1rem;
  
  }
  
.navbar #navbarSupportedContent {
    display: none;
  }
  
.navbar a {
    display: block;
    color: white;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: 1s;
    text-shadow: 0 0 10px #000;
  }

.title {
    font-size: 26px;
}
section {
    font-size: 18px;
}
.section {
    height: auto;
    margin:0;
}

.status {
    font-style: normal;
}
.contactText {
    font-size: 16px;
}
.contactTextHeading {
    font-size: 18px
    ;
}
.footer {
    display: block;
}
.footerStuff {
    display: inline;
}
.footerLinks {
    display: inline-block;
}

}